*.a
*.la
*.lo
*.o
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bfd-in3.h
bfd.h
bfdver.h
config.cache
config.h
config.in
config.log
config.status
configure
configure.lineno
elf32-ia64.c
elf32-target.h
elf64-ia64.c
elf64-target.h
libtool
ofiles
peigen.c
pepigen.c
stamp-h1
stamp-lib
stamp-ofiles
stmp-bfd-h
stmp-bin2-h
stmp-lbfd-h
stmp-lcoff-h
targmatch.h
