*.o
Makefile
Makefile.in
autom4te.cache/
config.cache
config.h
config.in
config.log
config.status
configure
configure.lineno
elanai3coff.c
ld-new
ld.1
ld.info
ldemul-list.h
ldgram.[ch]
ldlex.c
ldscripts
ldver.texi
libtool
stamp-h
stamp-h1
stringify.sed
tdirs
tmpdir
