*.o
.gdbinit
Makefile
Makefile.in
aclocal.m4
as-new
autom4te.cache/
config.cache
config.h
config.in
config.log
config.status
configure
configure.lineno
itbl-cpu.h
itbl-lex.c
libtool
obj-format.h
stamp-h1
targ-cpu.h
targ-env.h
